<!DOCTYPE html>
<html>
<head>
  <!-- <meta name="google-site-verification" content="qv-lmg_1174yewQT9oHRuWZ_Ug9iIEeLp3xjh_4YpE8" /> -->
  <meta name="p:domain_verify" content="04012bd7e7da64364e9cc994329b17f5"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="This" />
  <meta property="og:image" content="/my_nose.gif" />
  <!-- <meta property="og:image" content="https://www.apple.com/v/iphone/home/t/images/home/og.png?201610171354" /> -->

  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    {{ content }}
  </div>
{% include scripts.html %}
{% include analytics.html %}
</body>
</html>
